# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
instance/
backend/database.db
backend/model/xgboost_model.pkl
backend/model/scaler.pkl
backend/model/encoder.pkl

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
